@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes swipe-left-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes swipe-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes swipe-right-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes swipe-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

main {
    view-transition-name: base-reverse;
}

main.home {
    view-transition-name: base;
}

::view-transition-image-pair(root) {
    isolation: isolate;
}

::view-transition-old(base) {
    animation: swipe-left-out;
    animation-duration: 0.5s;
}

::view-transition-new(base) {
    animation: swipe-right;
    animation-duration: 0.5s;
}

::view-transition-old(base-reverse) {
    animation: swipe-right-out;
    animation-duration: 0.5s;
}

::view-transition-new(base-reverse) {
    animation: swipe-left;
    animation-duration: 0.5s;
}